# Django and Web Framework
asgiref
Django==5.2.2
django-cors-headers
djangorestframework==3.16.0
gunicorn
sqlparse
social-auth-app-django
# django-rest-knox

# Machine Learning & XAI
libs/grad_cam-1.5.5-py3-none-any.whl #Local wheel file for Grad-CAM

albucore
albumentations
efficientnet-pytorch
matplotlib
numpy>=1.23.0
opencv-python-headless
pandas
Pillow
pretrainedmodels
pycocotools
safetensors
scipy
segmentation-models-pytorch==0.3.3
simsimd
timm
torch==2.7.1
torchaudio==2.7.1
torchvision==0.22.1

# STEAD Model Dependencies
performer-pytorch>=1.1.4
torchinfo
ultralytics==8.3.151
ultralytics-thop

# Utilities & Other Dependencies
annotated-types
certifi
chardet
charset-normalizer
colorama
contourpy
cycler
filelock
fonttools
fsspec
huggingface-hub
idna
Jinja2
kiwisolver
MarkupSafe
mpmath
munch
networkx
packaging
psutil
py-cpuinfo
pyasn1
pyasn1_modules
pydantic
pydantic_core
pyparsing
python-dateutil
python-dotenv
pytz
PyYAML
reportlab
requests
six
stringzilla
sympy
tqdm
typing-inspection
typing_extensions
tzdata
urllib3
